streamlit
supabase
postgrest
pandas
streamlit-searchbox
python-escpos
reportlab
openpyxl
python-dotenv
bcrypt
qrcode
plotly
opencv-python-headless
Pillow
streamlit-webrtc
av
numpy
streamlit-javascript
streamlit-js-eval
libzbar0
